@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

html, body, #root {
  height: 100%;
  background-image: url(./dmitriy-galanov-UKGk5f1d8_0-unsplash\ \(1\).jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  background-attachment: fixed;
  overflow: hidden;
}


.App {
  height: 100%;
  padding: 0.7%;
}


.logo {
  color: white;
  font-size: 40px;
  width: 8.92%;
  padding: 0.75%;
  border: solid 1px white;
}

.searchBar {
  width: 27%;
  left: 35%;
  top: 2.95%;
  position: absolute;
}

input {
  font-size: 16px;
  letter-spacing: 1px;
  padding: 3.5% 5.4% 3.5%;
  outline: 0;
  border: 1px solid white;
  color: white;
  background-color: rgba(0, 0, 0, 0);
}

.Search {
  font-size: 16px;
  letter-spacing: 1px;
  padding: 3.5% 5.4% 3.5%;
  outline: 0;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

.Search:hover {
  border: solid 1px black;
  backdrop-filter: sepia(100%);
}

.ComingButton{
  font-size: 16px;
  letter-spacing: 1px;
  width: 150px;
  padding: 13px 8px 13px;
  outline: 0;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  top: 12.5%;
  left: 16%;
  position: absolute;
}

.ComingButton:hover {
  border: solid 1px black;
  backdrop-filter: sepia(100%);
}

.NowButton {
  font-size: 16px;
  letter-spacing: 1px;
  width: 150px;
  padding: 13px 8px 13px;
  outline: 0;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  top: 12.5%;
  left: 16%;
  position: absolute;
}

.NowButton:hover {
  border: solid 1px black;
  backdrop-filter: sepia(100%);
}


@media (max-width: 450px) {
  .ComingButton {
    top: 26%;
    left: 2.5%;
    position: absolute;
 }
}

@media (max-width: 450px) {
  .NowButton {
    top: 26%;
    left: 2.5%;
    position: absolute;
 }
}

@media (max-width: 450px) {
  .searchBar {
    top: 10%;
    left: 10%;
    width: 74%;
    border: solid red;
 }
}

@media (max-width: 450px) {
  input {
  padding: 3.5% 1% 3.5%;
 }
}

@media (max-width: 450px) {
  .Search {
  padding: 3.5% 1% 3.5%;
 }
}


@media (max-width: 450px) {
  .logo {
    width: 65%;
  }
}

@media (max-width: 450px) {
  .App {
  padding: 2.5%;
 }
}