@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

html, body, #root {
  height: 100%;
  background-image: url(./dmitriy-galanov-UKGk5f1d8_0-unsplash\ \(1\).jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  background-attachment: fixed;
  overflow: hidden;
}


.App {
  height: 100%;

  padding: 10px;
  /* border: solid red; */
  /* overflow: ; */
}


.logo {
  color: white;
  font-size: 40px;
  width: 120px;
  padding: 10px;
  border: solid 1px white;
}

.searchBar {
  width: 410px;
  left: 35%;
  top: 20px;
  position: absolute;
}

input {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid white;
  color: white;
  background-color: rgba(0, 0, 0, 0);
}


.Search {
  font-size: 16px;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

.Search:hover {
  border: solid 1px black;
  backdrop-filter: sepia(100%);
}



.ComingButton{
  font-size: 16px;
  letter-spacing: 1px;
  width: 150px;
  padding: 13px 8px 13px;
  outline: 0;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  top: 80px;
  right: 1000px;
  position: absolute;
}

.ComingButton:hover {
  border: solid 1px black;
  backdrop-filter: sepia(100%);
}

.NowButton {
  font-size: 16px;
  /* font-weight: 400; */
  letter-spacing: 1px;
  width: 150px;
  padding: 13px 8px 13px;
  outline: 0;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  top: 80px;
  right: 1000px;
  position: absolute;
}

.NowButton:hover {
  border: solid 1px black;
  backdrop-filter: sepia(100%);
}


@media (max-width: 390px) {
  .Search {
    padding: 13px 5px 13px;
  }
}


@media (max-width: 450px) {
  .ComingButton {
    top: 230px;
    right: 230px;
    position: absolute;
 }
}

@media (max-width: 450px) {
  .NowButton {
    top: 230px;
    right: 230px;
    position: absolute;
 }
}

@media (max-width: 450px) {
  .searchBar {
    top: 90px;
    left: 55px;
    width: 290px;
 }
}

@media (max-width: 450px) {
  input {
  padding: 13px 2px 13px;
 }
}

@media (max-width: 450px) {
  .logo {
    width: 250px;
  }
}