.searchBar {
    /* border: solid blue; */
    width: 410px;
    left: 40%;
    top: 10px;
    /* height: 40px; */
    position: absolute;
}

input {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    color: white;
    background-color: rgba(0, 0, 0, 0);
}


button {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
  }
  
  
  @media (min-width: 768px) {
    button {
      padding: 13px 50px 13px;
    }
  }
  